// Fuentes
$bodyFont: "Open Sans", sans-serif;
$logoFont: "PT Sans", sans-serif;
$titlesFont: "Oswald", sans-serif;

// Tamaño de dispositivos para media queries
$telefono: 480px;
$breakpointTelefono: 510px;
$tablet: 768px;
$breakpointTablet: 860px;
$desktop: 1024px;

// Colores
$negro: #000000;
$naranja: #fe4918;
$blanco: #ffffff;
$blancoTransparente: rgba(255, 255, 255, .8);
$grisOscuro: #353535;
$gris: #e1e1e1;
$bodyColor: #f2f2f2;

$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
