.summary{
  .box{
    background: $blanco;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;

    @include telefono{grid-template-columns: 1fr;};

    .order{
      label, input, select{
        display: block;
        margin-bottom: 1rem;
        outline: none;
        font-size: 1.5rem;
      }
    }

    @include telefono{
      .extra{
        &::after{
          content: '';
          border-bottom: .2rem solid $grisOscuro;
          display: block;
          width: 100%;
          margin: 1rem 0;
        }
      }
    }

    .total{
      margin-left: 2rem;

      @include telefono{margin-top: 1rem; margin-left: 0;}

      h4{
        text-align: start;
        color: $naranja;
        font-weight: $bold;
      }

      #list-products,
      #sum-total{
        padding: 2rem;
        font-size: 1.5rem;
        line-height: 2;
        color: $negro;
      }

      #sum-total{
        font-size: 2.3rem;
      }
    }

    .button{
      @include button($naranja, $blanco, inline-block)
    }
  }
}