.count-down{
  
  ul{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
    
		@include tablet{grid-template-columns: repeat(2, 1fr);row-gap: 8rem;}

    li{
      font-family: $titlesFont;
      font-size: 2.4rem;
      text-align: center;
      text-transform: uppercase;
    }
  }


  .num{@include num($naranja)}
}