.site-name{
  span{
    position: relative;
    text-shadow: 0 0 3rem $negro;
  }

  @media (min-width: 992px) {
    .char1{
      top: 2rem; right: 2rem;
    }
    .char2{
      top: 0rem; left: -2rem;
    }
    .char3{
      top: 1rem; right: 2rem;
    }
    .char4{
      top: .5rem; right: 1rem;
    }
    .char5{
      top: 1.5rem; right: 1rem;
    }
    .char6{
      top: .5rem; left: 0.5rem;
    }
    .char7{
      top: 2rem; left: 0rem;
    }
    .char8{
      top: 0rem; left: -1rem;
    }
    .char9{
      top: 1rem; right: 2rem;
    }
    .char10{
      top: 2rem; right: 2rem;
    }
  }

}