// Carpeta base
@import "base/normalize";
@import "base/main";
@import "base/variables";
@import "base/mixins";
@import "base/globales";
@import "base/utilidades";

// Estilos del index
@import "index/header";
@import "index/lettering";
@import "index/nav-bar";
@import "index/program";
@import "index/invited";
@import "index/counter";
@import "index/prices";
@import "index/map";
@import "index/testimonials";
@import "index/newsletter";
@import "index/count-down";
@import "index/footer";

// Estilos de la p치gina de reservaciones
@import 'otherPages/reservations/registration';
@import 'otherPages/reservations/events';
@import 'otherPages/reservations/summary';

// Estilos de la p치gina de conferencias
@import 'otherPages/conferences/galery';

// Estilos de la p치gina de calendario
@import 'otherPages/calendary/calendary';

// Estilos para la p치gina de pago finalizado
@import 'otherPages/pay-finalized/pay-finalized';

// Archivos para librerias
@import 'libraries/lightbox';
@import 'libraries/colorbox';
